<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid vertical-center" id="jumbotron">
  <div class="container  text-center">
    <h6 class="display-3 text-light" style=";padding-bottom: 20px;font-family: 'Monoton', cursive;letter-spacing: 1rem;"><img src="/images/logo.png"> Blogger M-app</h6>
    <p class="lead text-light" style="font-size: 1.3rem;">A platform where you can type to inspire the people all over the world !</p>
    <br>
  </div>
</div>
<div class="text-center text-light"style="font-size: 28px;font-weight: 800;"><u>HOME</u></div>
<div class="container mt-5">
<% blogs.forEach(function(blogs){ %>
<div class="card" style="padding: 30px;margin: 30px;">
  <a href="/blogs/<%= blogs._id %>"><h5 class="card-title" style="font-size: 3rem;font-family: 'Staatliches', cursive;text-decoration: none;color: black;"><%= blogs.title %></h5></a>
  <span class="text-muted mb-3" style="font-size: 1.25rem;"><%= blogs.date.toDateString() %></span>
  <img src="<%= blogs.coverimage %>" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="text-center">
    <p class="card-text" style="color : <%= blogs.themeColor %>"><%= blogs.Description %></p>
    <a href="/blogs/<%= blogs._id %>"><span class="text-center">READ MORE</span></a>
  </div></div>
</div>
<% }); %>
</div>
<%- include("partials/footer") %>