<%- include("partials/header") %>

<div class="container ">
<header>
<div class="jumbotron jumbotron-fluid text-center bg-dark text-light">
  <div class="container text-center">
  <div class="container">
    <h1 class="display-3">Blogs listing Entrepreneurs</h1>
    <p class="lead">Know every inside out to what it takes becoming an entrepreneur , success stories of some , and trending skill-set required.</p>
    <div class=" d-none d-md-inline-block" style="float: left"><a href="/blogs/createNew" >
<button class="btn btn-primary " >Create your own Post</button></a></div>
  </div>
</div>
</header>
<% blogs.forEach(function(blogs){ %>
<a href="/blogs/<%= blogs._id %>" style="text-decoration: none;">
<div class="container mt-3 mb-3 pt-1 pb-1 pl-0 pr-0 text-center" style="background-color:<%= blogs.BackgroundColor %>">
<div class="container" style="background-image: url(<%= blogs.coverimage %>);padding: 0;height: 500px;width: 99%;background-repeat:no-repeat;background-size: cover;background-position: center;">

<div class="text-center container col-sm-6 align-middle" style="background: inherit;
background-color: #5b5d61;
  background-blend-mode: screen;margin-top: 100;
margin-bottom: 100;">
  <h1 class="text-light display-2"><%= blogs.title %></h1>
        <p class="card-text">TYPE :<%= blogs.type %></p>
        <p class="card-text"><%= blogs.Description %></p>
        <p class="card-text">By <%= blogs.author %></p>
        <p class="card-text"><small class="text-muted"><%= blogs.date %></small></p>
</div></div>
</div></a><% }); %>
<%- include("partials/footer") %>